// FONT //

$font1: font1, sans-serif;
$font1-thin: font1-thin, sans-serif;
$font1-medium: font1-medium, sans-serif;
$font1-bold: font1-bold, sans-serif;
$font2: font2, sans-serif;


// COLORS //

$color1: #9356DC;
$linear-gradient-color2: #FF79DA;
$color2: white;
$color3: #353535;
$text-color1: black;
$background-color1: #F6F6F6;
$background-color2: #EAEAEA;
$background-color3: #99E2D0;
$background-color4: #F7F7F7;
$color-details2: #008766;


// FONT-SIZE HOMEPAGE //

$logo: 1.875rem;
$section-title: 1.5rem;
$section-subtitle: 1.125rem;
$card-title: 1.125rem;
$card-description: 1.063rem;
$text: 1rem;
$text-badge: 0.875rem;

// FONT-SIZE PAGE MENU//

$pm-logo:1.875rem;
$pm-menu-title: 1.75rem; 
$pm-menu-category-title:1rem;
$pm-card-title:1.125rem;
$pm-card-description: 0.938rem;
$pm-text:1rem;


